[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
mysqlclient = "*"
gunicorn = "==18.0.0"
django-cors-headers = "*"

[dev-packages]
requests = "*"
pytest-django = "*"
pytest = "*"
pytest-html = "*"
flake8 = "*"
atomicwrites = "*"
urllib3 = "*"

[requires]
python_version = "3.8"
