[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
requests = "*"
pytest-django = "*"
pytest = "*"
pytest-html = "*"
flake8 = "*"

[requires]
python_version = "3.8"
